<h1>Nouveau pottin</h1>

<%=form_with model: @gossip, url: gossips_path do |f| %>
    <div class="form-group">
    <label>Titre de l'article</label>
    <%= f.text_field :title %>
    </div>
    <div class="form-group">
    <label>Contenu de l'article</label>
    <%= f.text_field :content %>
    </div>
    <button type="submit">Créer</button>
<% end %>
