<h1 class="contact_title">Nous contacter</h1>

<div class="contact">
<p>étape 1 : acheter un pigeon</p>
<p>étape 2 : le dresser</p>
<p>étape 3 : nous l'envoyer <a target="_blank" href="https://www.google.fr/maps/place/Dev+City+Rd,+Shayona+City,+Chanakyapuri,+Ahmedabad,+Gujarat+380081,+Inde/@23.0828649,72.5352277,17z/data=!3m1!4b1!4m5!3m4!1s0x395e8338bb2cd699:0xf611cb7193d3575d!8m2!3d23.08286!4d72.5374164">ici</a></p>
</div>