

<%@gossips.each do |gossip| %>
    <div class="full_gossip">
        <h4 class="title_gossip"><%=gossip.user.first_name%><h4>
        <p class="content_gossip"><%=gossip.content %></p>
    </div>
<% end %>