<div class="team mt-2">
    <div class="card m-1" style="max-width: 200px !important;">
        <img style="max-width: 200px;" src="https://avatars.githubusercontent.com/u/23138145?v=4" alt="img presentation">
        <h2>Jocelin</h2>
    </div>
    <div class="card m-1" style="max-width: 200px !important;">
        <img style="max-width: 200px;" src="https://avatars.githubusercontent.com/u/74005033?v=4" alt="img presentation">
        <h2>Leo</h2>
    </div>
</div>